<footer>
<div id="opp_theme" class="UP-masthead">
  <div class="container">
    <div> 
      <h6 class="masthead_text"> Copyright &copy; <%= Time.now.year.to_s %> 
        <%= link_to 'Rhino Benedetti Profile','http://github.com/ryan_benedetti' %> 
      </h6>
      </div>
    </div>
  </div>
</footer>
