<!-- Masthead and Navigation -->
<div id="opp_theme" class="UP-masthead">
      <div class="container">
        <div class="row">
         <div class="col-xs-9">
          <h3 class="masthead_text">Student Opportunities</h3>
<h4 class="masthead_text">Search for Scholarships, Fellowships, and Grants</h4>
        </div>
        <div class="col-xs-3">
      <a href="http://github.com/ryan_benedetti" target="_blank"> Ryan Benedetti </a>
     </div> <!-- end col-xs-3 -->
</div><!-- end row  -->     
  <div class="row"> 
    <div class="col-xs-12">
     <nav class="UP-nav">
         <%= link_to "Home", opportunities_path %> 
            | <%= link_to "Add New Opportunity", new_opportunity_path %> 
       </nav>
      </div> <!--end col-xs-112 -->
    </div><!-- end nav row -->
  </div><!-- end container -->
</div> <!-- end div #opp_theme .UP-masthead -->
