<h4>How to effectively use and search for scholarships with UP Opportunities Database:</h4>

<ol>
<li> If no search criteria is entered into the search fields, ALL the
scholarship opportunities currently accepting applications in the
database will be displayed.</li>
<li>To limit the scholarships that display, search by criteria that applies to the student. For example,
search based on subject area, state, level or citizenship.  
How to utilize specific search fields: 
<ul> 
<li>Award name ‐ searches for a scholarship with a specific name or a key word in the
name. For example, searching for “women” will yield any scholarship with the word
“women” as part of the scholarship title.  </li>
<li>Subject Area ‐ searches both based on major and/or area of study. For example,
students can search for a specific major such as Engineering or Nursing. Searches can
also be done more broadly in a subject area such as health care field, study abroad or
STEM field. When using the subject area be sure to use the specific major such as
“Nursing” rather than abbreviations such as BSN or RN.</li>
<li> Level ‐ can be sorted based on the student’s current academic standing. The categories
are high school senior, undergraduate, graduate student or alumni.</li>
<li> State ‐ searches based on a student’s residency. Make sure to check scholarships that
list all states, the state you go to school in, and the state you live in.</li>
<li> Citizenship – allows students to sort scholarships based on whether they require U.S.
Citizenship, Permanent Residency or have no requirement. </li> 
</ul></li>
<li> Students can also sort scholarship results by using the sortable fields at the top of each column.
Award name, Subject Area, State and Deadline fields can be sorted alphabetically or
chronologically by using the arrows at the top of each column.</li>
<li> To see more information about an individual scholarship, including a link to the scholarship
provider’s website, click on the award name.   To return to the list of available scholarships, click
on “return to opportunities” on the bottom of the listing.</li>
<li> For more tips on how to find Outside Scholarships please check out the Scholarship Cheat
Sheets and Scholarship Tracking Worksheet available on the Office of Financial Aid’s scholarship
website at <a href="http://www.up.edu/finaid/scholarships" target="_blank">www.up.edu/finaid/scholarships</a>.  
</ol>

<p>You can also <%= link_to 'download a PDF version of this help file', '../assets/help/HelpSheetUPOpportunities9.20.16.pdf' %> .</p>
